* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
}

.container {
  height: 100vh;
}

header .nav__bar {
  width: 100%;
  height: 150px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0.6;
  padding: 0 14rem;
}

.nav__bar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__bar ul li {
  list-style: none;
  margin: 0 4rem;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.5px;
  color: white;
}

.nav__bar li {
  transition: opacity 0.1s linear;
}

.nav__bar:hover li:not(:hover) {
  opacity: 0.5s;
  color: #8e8d8d;
}

.nav__bar h2 {
  margin: 0 4rem;
  color: white;
}

.container__section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  padding-left: 4rem;
}

.img img {
  width: 100%;
  height: 750px;
  left: 629px;
  top: 21px;
  padding-left: 20rem;
  /* position: absolute; */
}

.text {
  width: 65%;
  padding-right: 30rem;
  top: 120px;
  color: white;
  font-size: 4rem;
  letter-spacing: -1px;
  position: absolute;
  text-shadow: #1c1c1c 0.2em 0.3em 0.2em;
  font-style: normal;
}

.text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.5px;
  color: #ffffff;
  opacity: 0.5;
}

.text h3 {
  font-weight: 400;
  font-size: 23px;
  line-height: 29px;
  letter-spacing: 0.5px;
  margin-top: 1.2rem;
  color: white;
}

.time__1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 98px;
  left: 1100px;
  top: 180px;
  font-size: 32px;
  font-weight: 600;
  background: #1c1c1c;
  border-radius: 20px;
  position: absolute;
  letter-spacing: 1px;
  margin-left: 15rem;
}

.time__1 p {
  font-size: 13px;
}

.time__1 h2,
p {
  color: #ffe642;
}

.time__2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 98px;
  left: 1100px;
  font-size: 32px;
  font-weight: 600;
  background: #1c1c1c;
  border-radius: 20px;
  position: absolute;
  letter-spacing: 1px;
  margin-left: 15rem;
}

.time__2 h2 {
  color: #fb1351;
}

.time__2 p {
  color: #fb1351;
}

.time__2 p {
  font-size: 13px;
}

.container__form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 20vh;
  background-color: #000;
}

.input-form {
  padding: 15px 10px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}

.btn-form {
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  background: #25ab75;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.sub__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  color: white;
  background-color: #000;
  padding: 3rem 23rem;
  font-size: 35px;
  letter-spacing: 0.3px;
  font-style: normal;
  font-weight: 600;
}

.sub__text p {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.5px;
  color: #ffffff;
  opacity: 0.67;
}

.container__figure {
  width: 100%;
  background-color: black;
}

.container__figure {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, 370px);
  justify-content: center;
  padding: 0 11rem;
}

.figure img {
  cursor: pointer;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #000000 100%);
  border-radius: 20px;
}

.container__footer {
  width: 100%;
  height: 250px;
  padding: 8rem 16rem;
  background-color: #000;
}

.container__footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container__footer ul li {
  color: white;
  list-style: none;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.2s ease;
}

.container__footer ul li:hover {
  color: #8e8d8d;
}

.container__footer .workut {
  font-size: 30px;
}
